<div class="block-header">
  <ul class="actions">
    <div class="btn-action-new">
      <%= link_to '<b>Cadastrar Nova Infração</b>'.html_safe, new_infraction_path, class: "btn btn-primary btn-sm" %>
    </div>
  </ul>
  <h2>
    <a href="/" title="voltar">
      <i class="zmdi zmdi-long-arrow-left zmdi-hc-lg"></i>
    </a> Lista de infrações
  </h2>
</div>

<div class="card">
  <div class="card-body card-padding">
    <table id="table-notification" class="table display">
      <thead class="table-heading">
        <tr>
          <th width="25%">Nome</th>
          <th width="20%">Endereço</th>
          <th width="20%">Municipio</th>
          <th width="10%">Prazo</th>
          <th width="10%">Status</th>
          <th width="20%"></th>
        </tr>
      </thead>

      <tbody>
        <% @infractions.each do | infractions |  %>
        <tr>
          <td><%= infractions.owner_name%></td>
          <td><%= infractions.property_address %></td>
          <td><%= infractions.property_city %></td>
          <td><%= infractions.regularization%></td>
          <td>
            <% if infractions.state == 'pending' %>
            <span class="label label-warning" id="label_<%= infractions.id %>">
              <% elsif  infractions.state == 'notified' %>
              <span class="label label-success" id="label_<%= infractions.id %>">
                <% elsif  infractions.state == 'fined' %>
                <span class="label label-danger" id="label_<%= infractions.id %>">
                  <% elsif  infractions.state == 'supervised' %>
                  <span class="label label-primary" id="label_<%= infractions.id %>">
                    <% elsif  infractions.state == 'archived' %>
                    <span class="label label-default" id="label_<%= infractions.id %>">
                      <% elsif  infractions.state == 'canceled' %>
                      <span class="label label-default" id="label_<%= infractions.id %>">
                      <% else %>
                      <span class="label label-info" id="label_<%= infractions.id %>">
                        <% end %>
                        <%= t infractions.state %>
                      </span>
                    </td>
                    <td class="text-right">
                      <% if infractions.state == 'canceled' %>
                      <button type="button" id="<%= infractions.id %>" class="btn btn-sm my_modal_visualisation"  data-target="#myModal"><i class="fa fa-search"></i> Visualizar </buttom>
                        <% else %>
                        <% if current_user.user_type == 'administrator' %>
                        <div class="btn-group pull-right">
                          <button type="button" class="btn btn-sm btn-primary waves-effect" data-toggle="dropdown"><i class="fa fa-plus"></i> Ações</button>
                          <button type="button" class="btn btn-sm btn-primary waves-effect" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                          </button>

                          <ul class="dropdown-menu dm-icon pull-right" role="menu">
                            <li><%= link_to '<i class="fa fa-search"></i> Visualizar'.html_safe, "/infractions/#{infractions.id}" %></li>
                            <% if infractions.state == 'supervised' %>
                            <li><%= link_to '<i class="fa  fa-legal"></i> Notificar'.html_safe, '#',  id: infractions.id, class: "notification",  'data-target' => "#myModal" %></li>
                            <% elsif infractions.state == 'notified' %>
                            <li><%= link_to '<i class="fa fa-search"></i> Visualizar Notificação'.html_safe, "/notifications/#{infractions.id}" %></li>
                            <li class="divider"></li>
                            <li><%= link_to '<i class="fa fa-legal"></i> Autuar'.html_safe, '#',  id: infractions.id, class: "my_modal_assessments",  'data-target' => "#myModal" %></li>
                            <% elsif infractions.state == 'pending' %>
                            <li class="divider"></li>
                            <li><%= link_to 'Fiscalizar', '#modal',  id: infractions.id, class: "report", 'data-toggle'=>"modal" %></li>
                            <% end %>
                          </ul>
                        </div>
                        <% else %>
                          <% if infractions.state == 'supervised' or infractions.state == 'archived' %>
                            <%= link_to '<i class="fa fa-search"></i> Visualizar'.html_safe, "/infractions/#{infractions.id}", class: "report btn btn-sm bgm-bluegray waves-effect" %>
                          <% else %>
                            <%= link_to 'Fiscalizar', '#modal',  id: infractions.id, class: "report btn btn-sm bgm-lightgreen waves-effect", 'data-toggle'=>"modal" %>
                          <% end %>
                        <% end %>
                        <% end %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="modal fade" id="modal" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="true" style="display: none;">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">LAUDO DE INSPEÇÃO E FISCALIZAÇÃO</h4>
                  </div>
                  <%= form_for(@supervision) do |f| %>
                  <div class="modal-body">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Sair</button>
                    <button type="button" id="no-proceeds" class="btn btn-sm bgm-gray waves-effect">Não Procede</button>
                    <button type="button" id="proceeds" class="btn btn-sm bgm-lightgreen waves-effect">Procede</button>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>

            <script>
            $(document).ready(function(){

              $(".notification").click(function(){
                var user_id = this.id;
                swal({
                  title: "Gerar Notificação?",
                  text: "Esta ação irá mudar o status da infração para notificado",
                  type: "info",
                  showCancelButton: true,
                  closeOnConfirm: false,
                  showLoaderOnConfirm: true
                }, function(){
                      setTimeout(function(){
                        swal({
                          title: "ok, deu certo!",
                          text: "Notificação gerada com sucesso! <BR> <span style='color:#F8BB86'>Aguarde para ver a notificação...<span> ",
                          timer: 4000,
                          html: true,
                          showConfirmButton: false
                        }, function(){
                            $.post( "/infraction/generate/notification", { id: user_id } );
                            window.location.replace("notifications/" + user_id);
                        });
                      }, 4000);
                  });
              })

              $( ".report" ).click(function(){
                $('.modal-body').load('/supervisions/infractions/'+ $(this).attr('id'));
              });

              $( "#proceeds" ).click(function(){
                $('.modal-body').append('<input type="hidden" name="supervision[status]" value="proceeds">');
                $( "#new_supervision" ).submit();
              });

              $( "#no-proceeds" ).click(function(){
                $('.modal-body').append('<input type="hidden" name="supervision[status]" value="no-proceeds">');
                $( "#new_supervision" ).submit();
              });


            })
            </script>
