<div class="block-header">
  <h2>
    <a href="/" title="voltar">
      <i class="zmdi zmdi-long-arrow-left zmdi-hc-lg"></i>
    </a> Cadastro de Infração
  </h2>
</div>

<%= form_for(@infraction) do |f| %>
<div class="card">
  <div class="card-body card-padding">

    <fieldset>
      <legend><i class="zmdi zmdi-view-subtitles"></i> Informações do solicitante</legend>
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group fg-line">
            <label for="iqual">Pessoa:</label>
            <div class="select">
              <select id="iqual" class="form-control">
                <option value=0>Fisica</option>
                <option value=1>Juridica<option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group fg-line fg-line">
              <%= f.label :owner_name %>
              <%= f.text_field :owner_name, autofocus: true, placeholder: "Propietário", class: "form-control" %>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group fg-line">
              <%= f.label :owner_identifier %>
              <%= f.text_field :owner_identifier, class: "form-control" %>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group fg-line">
              <%= f.label :owner_zip_code %>
              <%= f.text_field :owner_zip_code, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-5">
            <div class="form-group fg-line">
              <%= f.label :owner_address %>
              <%= f.text_field :owner_address, class: "form-control" %>
            </div>
          </div>

          <div class="col-sm-1">
            <div class="form-group fg-line">
              <%= f.label :owner_address_number %>
              <%= f.text_field :owner_address_number, class: "form-control" %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group fg-line">
              <%= f.label :owner_address_complement %>
              <%= f.text_field :owner_address_complement, class: "form-control" %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group fg-line">
              <%= f.label :owner_district %>
              <%= f.text_field :owner_district, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="form-group fg-line">
              <%= f.label :owner_city %>
              <%= f.text_field :owner_city, class: "form-control" %>
            </div>
          </div>

          <div class="col-sm-1">
            <div class="form-group fg-line">
              <%= f.label :owner_state %>
              <%= f.text_field :owner_state, class: "form-control" %>
            </div>
          </div>

          <div class="col-sm-1">
            <div class="form-group fg-line">
              <%= f.label :owner_ddd_mobile %>
              <%= f.text_field :owner_ddd_mobile, class: "form-control" %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group fg-line">
              <%= f.label :owner_mobile %>
              <%= f.text_field :owner_mobile, class: "form-control" %>
            </div>
          </div>

          <div class="col-sm-1">
            <div class="form-group fg-line">
              <%= f.label :owner_ddd_phone %>
              <%= f.text_field :owner_ddd_phone, class: "form-control" %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group fg-line">
              <%= f.label :owner_phone %>
              <%= f.text_field :owner_phone, class: "form-control" %>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend><i class="zmdi zmdi-view-subtitles"></i> Dados do imovel</legend>

        <div class="row">
          <div class="col-sm-1">
            <label>Mesmo:</label>
            <select id="iqual" class="form-control">
              <option value=0>Não</option>
              <option value=1>Sim</option>
            </select>
          </div>

          <div class="col-sm-2">
            <div class="form-group fg-line">
              <label>
                Área:
              </label>
              <select id="iqual" class="form-control">
                <option value="Urban">Área Urbana</option>
                <option value="Rural">Área Rural<option>
                </select>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group fg-line">
                <%= f.label :property_zip_code %>
                <%= f.text_field :property_zip_code, class: "form-control" %>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group fg-line">
                <%= f.label :property_address %>
                <%= f.text_field :property_address, class: "form-control" %>
              </div>
            </div>

            <div class="col-sm-1">
              <div class="form-group fg-line">
                <%= f.label :property_address_number %>
                <%= f.text_field :property_address_number, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <div class="form-group fg-line">
                <%= f.label :property_address_complement %>
                <%= f.text_field :property_address_complement, class: "form-control" %>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group fg-line">
                <%= f.label :property_district %>
                <%= f.text_field :property_district, class: "form-control" %>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group fg-line">
                <%= f.label :property_city %>
                <%= f.text_field :property_city, class: "form-control" %>
              </div>
            </div>

            <div class="col-sm-1">
              <div class="form-group fg-line">
                <%= f.label :property_state %>
                <%= f.text_field :property_state, class: "form-control" %>
              </div>
            </div>

            <div class="col-sm-1">
              <div class="form-group fg-line">
                <%= f.label :property_meter %>
                <%= f.text_field :property_meter, class: "form-control" %>
              </div>
            </div>

            <div class="col-sm-1">
              <div class="form-group fg-line">
                <%= f.label :property_block %>
                <%= f.text_field :property_block, class: "form-control" %>
              </div>
            </div>

            <div class="col-sm-1">
              <div class="form-group fg-line">
                <%= f.label :property_allotment %>
                <%= f.text_field :property_allotment, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group fg-line">
                <%= f.label :property_observation %>
                <%= f.text_area :property_observation, class: "form-control text_area" %>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend><i class="zmdi zmdi-view-subtitles"></i> Dados da penalidade</legend>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group fg-line">
                <%= f.label 'Prazo de Regularização' %>
                <div class="input-group">
                  <%= f.text_field :regularization, class: "form-control", "aria-describedby" => "basic-addon2" %>
                  <span class="input-group-addon" id="basic-addon2"><b>dias a partir da ciência deste auto.</b></span>
                </div>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group fg-line">
                <%= f.label :notify_description %>
                <%= f.text_area :notify_description, class: "form-control text_area" %>
              </div>
            </div>
          </div>
          </fieldset>

          <fieldset>
            <legend><i class="zmdi zmdi-view-subtitles"></i> Conforme lei</legend>
            <table class="table table-striped">
              <thead>
                <th colspan="4"></th>
                <th>Valor</th>
              </thead>
              <tbody>
                <% Law.all.each do | law | %>
                <tr id='laws'>
                  <td>
                    <div class="form-group">
                      <label for="law_<%= law.id %>" class="checkbox checkbox-inline">
                        <input id="law_<%= law.id %>" onClick="myFunction(<%= law.id %>)" value="<%= law.id %>" type="checkbox" name="laws[]">
                        <i class="input-helper"></i>
                      </label>
                    </div>
                  </td>
                  <td width="100"><b>Lei:</b> <%= law.number %></td>
                  <td width="120"><b>Artigo:</b> <%= law.article %></td>
                  <td><%= law.description %></td>
                  <td width="150">
                    <div id="input_group_<%= law.id %>" class="input-group fg-line" style="opacity: 0.3;">
                      <input id="price_<%= law.id %>" type="text" name="prices[]" class="form-control" placeholder="R$ 00,00", disabled=true>
                    </div>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </fieldset>


<hr>

          <div class="pull-right">
            <!-- <button class="btn btn-warning">Gerar Autuação</button> -->
            <%= link_to "Voltar", infractions_path, class: "btn btn-link waves-effect" %>
            <button class="btn bgm-orange waves-effect"> Salvar</button>
          </div>
          <div class="clearfix"></div>
      </div>
    </div>

    <% end %>

    <script>
    function myFunction(id){
      if($("#law_"+id+":checkbox:checked").length){
        $("#input_group_"+id).removeAttr( "style" );
        $("#price_"+id).attr("disabled",false);
      }else{
        $("#input_group_"+id).attr("style","opacity: 0.3;");
        $("#price_"+id).attr("disabled",true);
      }
    }

    $('body').ready(function() {
      if(!$("#laws").length){
        $.confirm({
          title:"<i class='fa fa-exclamation-triangle'></i> Opss..",
          text:"<h4><p>Não ha nenhuma lei cadastrada.</p><p>para proseguir será necessário cadastrar pelo menos uma</p> deseja cadastrar ?</h4>",
          confirm: function(button) {
            $(location).attr('href','/laws/new');
          },
          cancel: function() {
            $(location).attr('href','/infractions/');
          },
          cancelButton: "Não, voltar",
          confirmButton: "Sim, ir para cadastro de leis",
          confirmButtonClass: "btn-success pull-right",
          cancelButtonClass: "btn-default pull-left",

        });
      }
    });
    $('#iqual').on('change', function() {
      if(this.value == true){
        $('#infraction_property_zip_code').val($('#infraction_owner_zip_code').val());
        $('#infraction_property_address').val($('#infraction_owner_address').val());
        $('#infraction_property_address_number').val($('#infraction_owner_address_number').val());
        $('#infraction_property_address_complement').val($('#infraction_owner_address_complement').val());
        $('#infraction_property_district').val($('#infraction_owner_district').val());
        $('#infraction_property_city').val($('#infraction_owner_city').val());
        $('#infraction_property_state').val($('#infraction_owner_state').val());

        $('#infraction_property_zip_code').attr('readonly', true);
        $('#infraction_property_address').attr('readonly', true);
        $('#infraction_property_address_number').attr('readonly', true);
        $('#infraction_property_address_complement').attr('readonly', true);
        $('#infraction_property_district').attr('readonly', true);
        $('#infraction_property_city').attr('readonly', true);
        $('#infraction_property_state').attr('readonly', true);
      }else{
        $('#infraction_property_zip_code').val('');
        $('#infraction_property_address').val('');
        $('#infraction_property_address_number').val('');
        $('#infraction_property_address_complement').val('');
        $('#infraction_property_district').val('');
        $('#infraction_property_city').val('');
        $('#infraction_property_state').val('');

        $('#infraction_property_zip_code').prop("readonly", false);
        $('#infraction_property_address').prop("readonly", false);
        $('#infraction_property_address_number').prop("readonly", false);
        $('#infraction_property_address_complement').prop("readonly", false);
        $('#infraction_property_district').prop("readonly", false);
        $('#infraction_property_city').prop("readonly", false);
        $('#infraction_property_state').prop("readonly", false);
      }
    });

    </script>
