<div class="block-header">
  <h2>
    <a href="/infractions" title="voltar">
      <i class="zmdi zmdi-long-arrow-left zmdi-hc-lg"></i>
    </a> Visualizar Infração
  </h2>
</div>

<%= form_for(@infraction) do |f| %>
<div class="card">
  <div class="card-body card-padding">

    <fieldset>
      <legend><i class="zmdi zmdi-view-subtitles"></i> Informações do solicitante</legend>
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group fg-line">
            <label for="iqual">Pessoa:</label>
            <div class="select">
              <select id="iqual" class="form-control">
                <option value=0>Fisica</option>
                <option value=1>Juridica<option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-sm-5">
            <div class="form-group fg-line fg-line">
              <%= f.label :owner_name %>
              <%= f.text_field :owner_name, autofocus: true, class: "form-control", disabled: true %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group fg-line">
              <%= f.label :owner_identifier %>
              <%= f.text_field :owner_identifier, class: "form-control", disabled: true %>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group fg-line">
              <%= f.label :owner_zip_code %>
              <%= f.text_field :owner_zip_code, class: "form-control", disabled: true %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-5">
            <div class="form-group fg-line">
              <%= f.label :owner_address %>
              <%= f.text_field :owner_address, class: "form-control", disabled: true %>
            </div>
          </div>

          <div class="col-sm-1">
            <div class="form-group fg-line">
              <%= f.label :owner_address_number %>
              <%= f.text_field :owner_address_number, class: "form-control", disabled: true %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group fg-line">
              <%= f.label :owner_address_complement %>
              <%= f.text_field :owner_address_complement, class: "form-control", disabled: true %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group fg-line">
              <%= f.label :owner_district %>
              <%= f.text_field :owner_district, class: "form-control", disabled: true %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="form-group fg-line">
              <%= f.label :owner_city %>
              <%= f.text_field :owner_city, class: "form-control", disabled: true %>
            </div>
          </div>

          <div class="col-sm-1">
            <div class="form-group fg-line">
              <%= f.label :owner_state %>
              <%= f.text_field :owner_state, class: "form-control", disabled: true %>
            </div>
          </div>

          <div class="col-sm-1">
            <div class="form-group fg-line">
              <%= f.label :owner_ddd_mobile %>
              <%= f.text_field :owner_ddd_mobile, class: "form-control", disabled: true %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group fg-line">
              <%= f.label :owner_mobile %>
              <%= f.text_field :owner_mobile, class: "form-control", disabled: true %>
            </div>
          </div>

          <div class="col-sm-1">
            <div class="form-group fg-line">
              <%= f.label :owner_ddd_phone %>
              <%= f.text_field :owner_ddd_phone, class: "form-control", disabled: true %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group fg-line">
              <%= f.label :owner_phone %>
              <%= f.text_field :owner_phone, class: "form-control", disabled: true %>
            </div>
          </div>
        </div>
    </fieldset>

    <fieldset>
      <legend><i class="zmdi zmdi-view-subtitles"></i> Dados do imovel</legend>

      <div class="row">
        <div class="col-sm-2">
          <div class="form-group fg-line">
            <%= f.label :property_zone %>
            <%= f.text_field :property_zone, class: "form-control", disabled: true %>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group fg-line">
            <%= f.label :property_zip_code %>
            <%= f.text_field :property_zip_code, class: "form-control", disabled: true %>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group fg-line">
            <%= f.label :property_address %>
            <%= f.text_field :property_address, class: "form-control", disabled: true %>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group fg-line">
            <%= f.label :property_address_number %>
            <%= f.text_field :property_address_number, class: "form-control", disabled: true %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <div class="form-group fg-line">
            <%= f.label :property_address_complement %>
            <%= f.text_field :property_address_complement, class: "form-control", disabled: true %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group fg-line">
            <%= f.label :property_district %>
            <%= f.text_field :property_district, class: "form-control", disabled: true %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group fg-line">
            <%= f.label :property_city %>
            <%= f.text_field :property_city, class: "form-control", disabled: true %>
          </div>
        </div>

        <div class="col-sm-1">
          <div class="form-group fg-line">
            <%= f.label :property_state %>
            <%= f.text_field :property_state, class: "form-control", disabled: true %>
          </div>
        </div>

        <div class="col-sm-1">
          <div class="form-group fg-line">
            <%= f.label :property_meter %>
            <%= f.text_field :property_meter, class: "form-control", disabled: true %>
          </div>
        </div>

        <div class="col-sm-1">
          <div class="form-group fg-line">
            <%= f.label :property_block %>
            <%= f.text_field :property_block, class: "form-control", disabled: true %>
          </div>
        </div>

        <div class="col-sm-1">
          <div class="form-group fg-line">
            <%= f.label :property_allotment %>
            <%= f.text_field :property_allotment, class: "form-control", disabled: true %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group fg-line">
            <%= f.label :property_observation %>
            <%= f.text_area :property_observation, class: "form-control text_area", disabled: true %>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend><i class="zmdi zmdi-view-subtitles"></i> Dados da penalidade</legend>

      <div class="row">
        <div class="col-sm-8">
          <small>Descrição da Infração</small></br>
          <strong><%= @infraction.notify_description.upcase %></strong>
        </div>

        <% @infraction.fine.each do | fine |%>
        <div class="col-sm-12">
          <strong><%= fine.law.description %></strong>
        </div>

        <div class="col-sm-2">
          <small>Data da Infração</small></br>
          <strong><%= @infraction.created_at.strftime("%d/%m/%Y") %></strong>
        </div>

        <div class="col-sm-2">
          <small>Hora da Infração</small></br>
          <strong><%= @infraction.created_at.strftime("%H:%M") %></strong>
        </div>

        <div class="col-sm-2">
          <small>Conforme Lei</small></br>
          <strong>Nº: <%= fine.law.number %></strong>
        </div>

        <div class="col-sm-2">
          <small>Artigo</small></br>
          <strong><%= fine.law.article %></strong>
        </div>

        <div class="col-sm-2">
          <small>Multa</small></br>
          <strong>R$ <%= fine.price %></strong>
        </div>
        <br><br>
      <% end %>
      </div>
    </fieldset>
  <br><br>
    <fieldset>
      <legend><i class="zmdi zmdi-view-subtitles"></i> Laudo de fiscalização</legend>
        <div class="row">

        <% if not @infraction.supervision.count.zero? %>
          <% @infraction.supervision.each do |supervision|%>
            <div class="panel" style="border-left: 5px solid #357ebd">
              <div class="col-sm-2">
                <small>Fiscalizado Em:</small></br>
                <strong><%= supervision.created_at.strftime("%d/%m") %></strong>
              </div>
              <div class="col-sm-2">
                <small>As:</small></br>
                <strong><%= supervision.created_at.strftime("%H:%M") %> hs</strong>
              </div>
              <div class="col-sm-8">
                <small>Descrição:</small></br>
                <strong><%= supervision.observation.upcase  %></strong>
              </div>
            </div>
          <% end %>
        <% else %>
        <div class="well" align="center">Não ha m laudo de infração referente a esta infração</div>
        <% end %>
        </div>
    </fieldset>

    <div class="text-right">
      <a href="/infractions" class="btn btn-link waves-effect waves-effect">Voltar</a>
    </div>
  <% end %>

<script>
$( ".my_modal_notification" ).confirm({
  title:"<div align='center'><i class='fa fa-exclamation'></i> Gerar Notificação</div>",
  text:"<div align='center'>"+
  "  <h4>Realmente deseja gerar uma notificação?</h4>"+
  "</div>"+
  "<hr><b>Esta ação irá:</b>"+
  "<ul>"+
  "<li>Enviar e-mails</li>"+
  "<li>Mudar o status da Infração para Notificado</li>"+
  "</ul>",
  confirm: function(button) {
    $(location).attr('href','/infraction/'+button.attr('id')+'/generate/notification');
  },
  cancelButton: "Não, voltar",
  confirmButton: "Sim, gerar notificação!",
  confirmButtonClass: "btn-success pull-right",
  cancelButtonClass: "btn-default pull-left"
});
</script>
