<div class="block-header">
  <ul class="actions">
    <div class="btn-action-new">
    <%= link_to '<i class="fa fa-plus"></i> <b>Novo Usuário</b>'.html_safe, new_user_path, class: "btn btn-primary btn-sm" %>
    </div>
  </ul>
  <h2>
    <a href="/" title="voltar">
      <i class="zmdi zmdi-long-arrow-left zmdi-hc-lg"></i>
    </a> Usuários
  </h2>
</div>

<div class="card">
  <div class="card-body card-padding">

    <table id="table-user" class="table display">
      <thead class="table-heading">
      <tr>
        <th width="300">Name</th>
        <th width="400">E-mail</th>
        <th width="200">Tipo</th>
        <th width="150">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do | user |  %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.user_type %></td>
          <td align="center">
          <%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_user_path(user), class: "btn btn-primary btn-sm" %>
            <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Remover</button>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(document).ready(function() {
    var table = $('#table-user').dataTable({ "dom": '<tp>' });
  } );
</script>
