<h>Fiscalização | Notificação<div class="pull-right">nº notificação: <%= rand(999999) %></div></h>
<div class="panel">
 <form role="form">


<div class="row">
  <div class="col-sm-12">
    <div class="sub_title">
      <div class="pull-left">Dados do proprietário</div>
      <div class="pull-right">
        <div class="radio-inline">
          <label><input type="radio" name="optradio" checked="checked">Pessoa Fisica</label>
        </div>

        <div class="radio-inline">
          <label><input type="radio" name="optradio">Pessoa Juridica</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">

  </div>
</div>

<div class="row">
  <div class="col-sm-7">
    <label>
      Nome do Proprietário
    </label>
    <input type="text" class="form-control">
  </div>

  <div class="col-sm-3">
    <label>
      CPF
    </label>
    <input type="text" class="form-control">
  </div>

  <div class="col-sm-2">
    <label>
      CEP
    </label>
    <input type="text" class="form-control">
  </div>
</div>

<div class="row">
  <div class="col-sm-5">
    <label>
      Endereço
    </label>
    <input type="text" class="form-control">
  </div>

  <div class="col-sm-1">
    <label>
      Nº
    </label>
    <input type="text" class="form-control">
  </div>

  <div class="col-sm-3">
    <label>
      Complemento
    </label>
    <input type="text" class="form-control">
  </div>

  <div class="col-sm-3">
    <label>
      Bairro
    </label>
    <input type="text" class="form-control">
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <label>
      Município
    </label>
    <input type="text" class="form-control">
  </div>

  <div class="col-sm-1">
    <label>
      UF
    </label>
    <input type="text" class="form-control">
  </div>

  <div class="col-sm-1">
    <label>
      DDD
    </label>
    <input type="text" class="form-control">
  </div>

  <div class="col-sm-3">
    <label>
      Celular
    </label>
    <input type="text" class="form-control">
  </div>

  <div class="col-sm-1">
    <label>
      DDD
    </label>
    <input type="text" class="form-control">
  </div>

  <div class="col-sm-3">
    <label>
      Telefone
    </label>
    <input type="text" class="form-control">
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="sub_title">
      <div class="pull-left">Dados do Imóvel</div>
      <div class="pull-right">
        <div class="radio-inline">
          <label><input type="radio" name="optradio" checked="checked">Área Urbana</label>
        </div>

        <div class="radio-inline">
          <label><input type="radio" name="optradio">Área Rural</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-1">
    <label>
      Mesmo acima
    </label>
    <select class="form-control">
      <option>Não</option>
      <option>Sim</option>
    </select>
  </div>
  <div class="col-sm-7">
    <label>
      Endereço
    </label>
    <input type="text" class="form-control">
  </div>

  <div class="col-sm-1">
    <label>
      Nº
    </label>
    <input type="text" class="form-control">
  </div>

  <div class="col-sm-3">
    <label>
      Complemento
    </label>
    <input type="text" class="form-control">
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <label>
      Bairro
    </label>
    <input type="text" class="form-control">
  </div>

  <div class="col-sm-3">
    <label>
      Município
    </label>
    <input type="text" class="form-control">
  </div>

  <div class="col-sm-2">
    <label>
      CEP
    </label>
    <input type="text" class="form-control">
  </div>

  <div class="col-sm-1">
    <label>
      UF
    </label>
    <input type="text" class="form-control">
  </div>

  <div class="col-sm-1">
    <label>
      Área em M²
    </label>
    <input type="text" class="form-control">
  </div>

  <div class="col-sm-1">
    <label>
      Quadra
    </label>
    <input type="text" class="form-control">
  </div>

  <div class="col-sm-1">
    <label>
      Lote
    </label>
    <input type="text" class="form-control">
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <label>
      Observação
    </label>
    <textarea rows="4" class="form-control textarea"></textarea>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
      <div class="sub_title">Imagens</div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="100%x180" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjU5LjU1NDY4NzUiIHk9IjkwIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L2c+PC9zdmc+" data-holder-rendered="true" style="height: 280px; width: 100%; display: block;">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="100%x180" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjU5LjU1NDY4NzUiIHk9IjkwIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L2c+PC9zdmc+" data-holder-rendered="true" style="height: 280px; width: 100%; display: block;">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="100%x180" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjU5LjU1NDY4NzUiIHk9IjkwIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L2c+PC9zdmc+" data-holder-rendered="true" style="height: 280px; width: 100%; display: block;">
    </a>
  </div>

   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="100%x180" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjU5LjU1NDY4NzUiIHk9IjkwIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L2c+PC9zdmc+" data-holder-rendered="true" style="height: 280px; width: 100%; display: block;">
    </a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="sub_title">Penalidades</div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <label>
      Prazo de regularização
    </label>
    <input type="text" class="form-control">
  </div>

  <div class="col-sm-3">
    <label>
      Multa R$
    </label>
    <input type="text" class="form-control">
  </div>

   <div class="col-sm-3">
    <label>
      Artigo
    </label>
    <input type="text" class="form-control">
  </div>

   <div class="col-sm-3">
    <label>
      Lei Municipal
    </label>
    <input type="text" class="form-control">
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="sub_title">Tipo De Infração</div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-2"><label>Leis</label></div><div class="col-sm-2 pull-right" align="right"><label>Leis Escolhidas</label></div>
  </div>

  <select id='optgroup' multiple='multiple'>
    <% Law.all.each do | law | %>
    <optgroup label="Lei: <%= law.number %>">
        <option value='<%= law.id%>'>Artigo: <%= law.article %> | <%= law.description %></option>
    </optgroup>
    <% end %>
  </select>
</div>

   <div class="panel-footer">
      <div class="actions">
        <button class="btn btn-danger">Registrar Autuação</button>
        <button class="btn btn-primary">Registrar Notificação</button>
      </div>

      <div class="actions pull-left">
          <button class="btn">Voltar</button>
      </div>
    </div>

</form>
</div>
