<div class="form-group">
  <%= form_for('user', url: registration_path('user'), :html => {:multipart => true}) do |f| %>

  <div class="col-sm-8">
    <%= f.label :name, class: "control-label" %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="col-sm-2">
    <%= f.label :password, class: "control-label" %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="col-sm-2">
    <%= f.label :password_confirmation, class: "control-label" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>
  <div class="col-sm-8">
    <%= f.label :email, class: "control-label" %>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="col-sm-4">
    <%= f.label :user_type, class: "control-label" %>
    <%= f.select(:user_type, options_for_select([["Administrador","administrator"],["Fiscal","fiscal"]]),{}, class: "form-control") %>
  </div>

  <div class="col-sm-12">
    <%= f.label :management, class: "control-label" %><br />
    <%= f.select :management_id, options_for_select(Management.all.map{|s|[s.name, s.id]}), {}, class: "form-control " %>
  </div>

  <div class="actions">
    <%= f.button "Fim <i class='fa fa-arrow-up'></i>".html_safe, class: "btn btn-primary"  %>
  </div>
  <% end %>
</div>
