<div class="block-header">
  <ul class="actions">
    <div class="btn-action-new">
      <%= link_to 'Nova Lei'.html_safe, new_law_path, class: "btn btn-primary btn-sm" %>
    </div>
  </ul>
  <h2>
    <a href="/" title="voltar">
      <i class="zmdi zmdi-long-arrow-left zmdi-hc-lg"></i>
    </a> Cadastros de Leis
  </h2>
</div>


<div class="card">
  <div class="card-body card-padding">
    <table id="table-law" class="table table-houver">
      <thead class="table-heading">
        <tr>
          <th width="10%">Numero</th>
          <th width="10%">Artigo</th>
          <th width="60%">Descrição</th>
        </tr>
      </thead>

      <tbody>
        <% @laws.each do |law| %>
        <tr>
          <td><%= law.number %></td>
          <td><%= law.article %></td>
          <td><%= law.description %></td>
          <td>
          <%= link_to 'Editar'.html_safe, edit_law_path(law), class: "btn btn-warning btn-sm" %>
          <%= link_to 'Deletar'.html_safe, law, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm " %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
