<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @law.number %>
</p>

<p>
  <strong>Article:</strong>
  <%= @law.article %>
</p>

<p>
  <strong>Description:</strong>
  <%= @law.description %>
</p>

<%= link_to 'Edit', edit_law_path(@law) %> |
<%= link_to 'Back', laws_path %>
