<div class="block-header">
  <h2>
    <a href="/" title="voltar">
      <i class="zmdi zmdi-long-arrow-left zmdi-hc-lg"></i>
    </a> Fiscalização
  </h2>
</div>

<div class="card">
  <div class="card-body card-padding">
      <table id="table-notification" class="table table-houver">
        <thead class="table-heading">
          <tr>
            <th width="20%">Nome</th>
            <th width="30%">Endereço</th>
            <th width="20%">Municipio</th>
            <th width="5%">Status</th>
            <th width="25%"></th>
          </tr>
        </thead>

        <tbody>
          <% @infractions.each do | infractions |  %>
          <tr>
            <td><%= infractions.owner_name%></td>
            <td><%= infractions.property_address %></td>
            <td><%= infractions.property_city %></td>
            <td>
              <% if infractions.state == 'pending' %>
                <span class="label label-warning" id="label_<%= infractions.id %>">
              <% elsif  infractions.state == 'notified' %>
                <span class="label label-success" id="label_<%= infractions.id %>">
              <% elsif  infractions.state == 'fined' %>
                <span class="label label-danger" id="label_<%= infractions.id %>">
              <% elsif  infractions.state == 'supervised' %>
                <span class="label label-primary" id="label_<%= infractions.id %>">
              <% elsif  infractions.state == 'canceled' %>
                <span class="label label-default" id="label_<%= infractions.id %>">
              <% else %>
                <span class="label label-info" id="label_<%= infractions.id %>">
              <% end %>
              <%= t infractions.state %>
                </span>
            </td>
              <td class="text-right">
                <%= link_to 'Visualizar'.html_safe, '#',  id: infractions.id, class: "btn btn-primary btn-sx my_modal my_modal_visualisation",  'data-target' => "#myModal" %>
                <% if infractions.state == 'pending' %>
                  <%= link_to 'Fiscalização'.html_safe, '#',  id: infractions.id, class: "btn btn-success btn-sx my_modal my_modal_supervision",  'data-target' => "#myModal" %>
                <% else %>
                  <%= link_to 'Fiscalização'.html_safe, '#', class: "btn btn-success btn-sx disabled"%>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
  $(document).ready(function() {
    $( ".my_modal_generate" ).confirm({
      title:"<i class='fa fa-exclamation-triangle'></i> Gerar Autuação",
      text:"<h3>Realmente deseja gerar um autuação?</h3>",
      confirm: function(button) {
        $('#myModal').modal();
        $('#myModalBody').load('/supervision/assessments/'+ button.attr('id') +'/genrate');
        $('#label_'+button.attr('id')).html('Fiscalizado');
      },
      confirmButton: "Sim",
      cancelButton: "Não"
    });

    $( ".my_modal_visualisation" ).click(function(){
      $('#myModal').modal();
      $('#myModalBody').load('/supervisions/infractions/'+ $(this).attr('id') );
    });

    $( ".my_modal_supervision" ).click(function(){
      $('#myModal').modal();
      $('#myModalBody').load('/infractions/'+ $(this).attr('id') +'/supervisions/new');
    });

    var table = $('#table-notification').dataTable({ "dom": '<tp>' });

  } );



  </script>
