<!DOCTYPE html>
<html>
<head>
  <title>Ambit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>
<body>
  <header id="header" class="bgm-teal">
    <ul class="header-inner">
      <li id="menu-trigger" data-trigger="#sidebar">
        <div class="line-wrap">
          <div class="line top"></div>
          <div class="line center"></div>
          <div class="line bottom"></div>
        </div>
      </li>

      <li class="pull-right">
        <ul class="top-menu">
          <li class="navbar-text c-white m-r-10 pull-right" style="margin-top: 6px;">
            Usuário: <strong><%= current_user.name %></strong> |  <%= current_user.user_type %>
          </li>
        </ul>
      </li>
    </ul>
  </header>
  <section id="main">
    <aside id="sidebar">
      <div class="sidebar-inner c-overflow" tabindex="7" style="overflow: hidden; outline: none;">
        <div class="profile-menu">
                        <a href="#">
                            <div class="profile-pic">
                                <img src="<%=image_path('logo_assis.png') %>" alt="">
                            </div>
                            <div class="profile-info">
                                <b><%= current_user.name %></strong></b>

                                <i class="zmdi zmdi-arrow-drop-down"></i>
                            </div>
                        </a>
                    </div>
        <ul class="main-menu">
          <li class="active"><a href="/"><i class="zmdi zmdi-home"></i> Início</a></li>
          <li class="sub-menu">
              <a href=""><i class="zmdi zmdi-widgets"></i> Cadastros</a>
              <ul>
                  <li><a href="/laws">Leis</a></li>
                  <li><a href="/users">Usuários</a></li>
              </ul>
          </li>
          <li><a href="/infractions"><i class="zmdi zmdi-search"></i> Infrações</a></li>
          <li><a href="/infractions"><i class="zmdi zmdi-nature"></i> Corte e Poda</a></li>
          <li><a href="/users/sign_out"><i class="zmdi zmdi-close"></i> Sair</a></li>
        </div>
      </aside>

      <section class="content">
        <div class="container-fluid">
          <% flash.each do |key, value| %>
            <script type="text/javascript">
            setTimeout(function() {
               $.bootstrapGrowl("<%= value %>", {
                   type: "inverse",
                   align: 'center',
                   width: 'auto'
               });
            }, 2000);
            </script>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </section>
  </section>
  <footer id="footer">
    Copyright © <span class="c-bluegray">Secretária do Meio Ambiente | Assis | SP | 2015</span>
  </footer>

</body>
</html>
